domain: 'vagrant-test.local'
ntp_server_1: '0.pool.ntp.org'
ntp_server_2: '1.pool.ntp.org'
timezone: 'UTC'

# Define the proper EPEL RPM to download and install
epel_rpm_url: 'http://dl.fedoraproject.org/pub/epel/6/x86_64/epel-release-6-8.noarch.rpm'
zeromq4_copr_rpm_url: 'https://copr.fedoraproject.org/coprs/saltstack/zeromq4/repo/epel-6/saltstack-zeromq4-epel-6.repo'

# To use zeromq3 comment out the use_zeromq4 line below
#use_zeromq4: True

# Set the yum.proxy to the http string of the proxy to use otherwise comment out or
# set to '_none_'
#
# If you are having issue with a web cache not allowing yum to download properly. For
# Example seeing the following errors:
#    [Errno -1] Metadata file does not match checksum
# define yum.disable_cache, ie.:
#    disable_cache: 'True'
yum:
#  proxy: 'http://servername:port'
#  disable_cache: 'True'
